In [1]:
import pandas as pd

gc = pd.read_csv("game_data.csv")

gc = gc[gc["class"] == 0]
gc['robot'] = gc.groupby(['time', 'team']).cumcount() + 1
gc = gc.groupby(["time", "team"]).apply(lambda x: x.reset_index(drop=True))

pivot_table = gc.pivot(index=['time', 'team'], columns=
                       "robot", values=['x_pos', 'y_pos'])

pivot_table.columns = [f'{col[0]}_{col[1]}' for col in pivot_table.columns]

pivot_table.reset_index(inplace=True)

#pivot_table.to_csv("processed.csv")

pivot_table

,time,team,x_pos_1,x_pos_2,x_pos_3,x_pos_4,x_pos_5,x_pos_6,x_pos_7,y_pos_1,y_pos_2,y_pos_3,y_pos_4,y_pos_5,y_pos_6,y_pos_7
0,5,0,198.0,222.0,314.0,256.0,77.0,74.0,NaN,340.0,94.0,206.0,267.0,215.0,251.0,NaN
1,5,1,432.0,596.0,459.0,565.0,482.0,633.0,429.0,127.0,265.0,296.0,226.0,200.0,241.0,410.0
2,6,0,222.0,198.0,77.0,256.0,74.0,314.0,NaN,94.0,340.0,215.0,267.0,251.0,206.0,NaN
3,6,1,429.0,481.0,633.0,459.0,596.0,432.0,565.0,410.0,200.0,241.0,297.0,265.0,128.0,226.0
4,7,0,314.0,74.0,222.0,77.0,198.0,256.0,NaN,206.0,251.0,94.0,215.0,340.0,267.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3355,1682,1,32.0,600.0,609.0,465.0,550.0,439.0,NaN,241.0,201.0,346.0,371.0,313.0,202.0,NaN
3356,1683,0,375.0,463.0,414.0,77.0,236.0,244.0,NaN,349.0,216.0,385.0,196.0,306.0,200.0,NaN
3357,1683,1,32.0,465.0,439.0,608.0,551.0,600.0,NaN,242.0,371.0,202.0,345.0,312.0,201.0,NaN
3358,1684,0,462.0,235.0,414.0,244.0,375.0,77.0,NaN,216.0,307.0,385.0,201.0,349.0,195.0,NaN
3359,1684,1,600.0,465.0,32.0,550.0,439.0,608.0,NaN,201.0,372.0,242.0,312.0,202.0,345.0,NaN

In [2]:

import numpy as np
min_value_x = pivot_table.filter(like='x_pos_').min().min()
max_value_x = pivot_table.filter(like='x_pos_').max().max()

min_value_y = pivot_table.filter(like='y_pos_').min().min()
max_value_y = pivot_table.filter(like='y_pos_').max().max()

for column in pivot_table.columns:
    mask = pivot_table[column].isnull()
    if column.startswith('x_pos_'):
        pivot_table.loc[mask, column] = np.random.uniform(
            min_value_x, max_value_x, size=np.sum(mask))
    elif column.startswith('y_pos_'):
        pivot_table.loc[mask, column] = np.random.uniform(
            min_value_y, max_value_y, size=np.sum(mask))
        
pivot_table

,time,team,x_pos_1,x_pos_2,x_pos_3,x_pos_4,x_pos_5,x_pos_6,x_pos_7,y_pos_1,y_pos_2,y_pos_3,y_pos_4,y_pos_5,y_pos_6,y_pos_7
0,5,0,198.0,222.0,314.0,256.0,77.0,74.0,237.403592,340.0,94.0,206.0,267.0,215.0,251.0,241.412459
1,5,1,432.0,596.0,459.0,565.0,482.0,633.0,429.000000,127.0,265.0,296.0,226.0,200.0,241.0,410.000000
2,6,0,222.0,198.0,77.0,256.0,74.0,314.0,336.585209,94.0,340.0,215.0,267.0,251.0,206.0,263.775659
3,6,1,429.0,481.0,633.0,459.0,596.0,432.0,565.000000,410.0,200.0,241.0,297.0,265.0,128.0,226.000000
4,7,0,314.0,74.0,222.0,77.0,198.0,256.0,159.967489,206.0,251.0,94.0,215.0,340.0,267.0,316.947671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3355,1682,1,32.0,600.0,609.0,465.0,550.0,439.0,621.411139,241.0,201.0,346.0,371.0,313.0,202.0,202.980601
3356,1683,0,375.0,463.0,414.0,77.0,236.0,244.0,53.199123,349.0,216.0,385.0,196.0,306.0,200.0,111.296908
3357,1683,1,32.0,465.0,439.0,608.0,551.0,600.0,461.813571,242.0,371.0,202.0,345.0,312.0,201.0,256.625301
3358,1684,0,462.0,235.0,414.0,244.0,375.0,77.0,441.480793,216.0,307.0,385.0,201.0,349.0,195.0,407.560162
3359,1684,1,600.0,465.0,32.0,550.0,439.0,608.0,172.900177,201.0,372.0,242.0,312.0,202.0,345.0,487.170113

In [3]:
gc = pd.read_csv("game_data.csv")

gc["x_pos"].min()
gc["x_pos"].max()

gc["y_pos"].min()
gc["y_pos"].max()

523